db/development.sqlite3
.DS_Store
.rvmrc
log/development.log log/test.log
tmp/cache tmp/pids tmp/sessions tmp/sockets
tmp/
log/
.powrc
solr/
public/uploads
db/test.sqlite3
log
public/uploads
resources/
.ruby-version
.ruby-gemset
.elasticbeanstalk/
.bundle/
deploy
db/*.sql.gz
db/*.sql
db/*.sql.bkp